#header-phone {
    width: 100%;
    height: 7rem;
    position: fixed;
    background-color: black;
    z-index: 3;
    // outline: $pink 1px solid;
    outline: coral 1px solid;
}
#header-phone-icon {
    @extend %flex-prop;
    position: absolute;
    left: 5%;
    z-index: 3;
}
.phone-icon {
    width: 40px;
    height: 40px;
    filter: drop-shadow(1px 2px 2px black);
}
#header-phone-text {
    @extend %flex-prop;
    color: whitesmoke;
    font-size: 2rem;
    font-family: Gabriela;
}
#header-phone-container {
    @extend %flex-prop;
    width: 95%;
    height: 100%;
    position: absolute;
    align-content: space-evenly;
    align-items: center;
    justify-content: flex-end;
}
a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 3px;
    content: close-quote;
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
a:after {
    background-color: #b82669;
    transition: width 0.5s ease 0s, left 0.5s ease 0s;

}
a:hover:after {
    width: 100%;
    left: 0;
}
.dropdown-content a:hover:after {
    width: 90%;
    left: 15px;
    bottom: 8px;
}

/************** HAMBURGER MENU AND HEADER ON PHONE **************************/
#menu-toggle #hamburger span {
    display: block;
    background: coral;
    border-radius: 2px;
} 
#menu-toggle {
	transform: scale(0.45);
	right: 0em;
	width: 100px;
	height: 100px;
	position: fixed;
	cursor: pointer;
	background: #151515;
	border-radius: 10px;
	z-index: 3;
}
#hamburger {
	position: absolute;
	height: 100%;
	width: 100%;
}
#hamburger span {
    transition: .25s ease-in-out;
	width: 60px;
	height: 4px;
	position: relative;
	top: 24px;
	left: 20px;
	margin: 10px 0;
	&:nth-child(1) {
		transition-delay: .5s;
	}
	&:nth-child(2) {
		transition-delay: .625s;
	}
	&:nth-child(3) {
		transition-delay: .75s;
	}
}
#cross {
	position: absolute;
	height: 100%;
	width: 100%;
	transform: rotate(45deg);
}
#cross span {
    transition: .25s ease-in-out;
	&:nth-child(1) {
		height: 0%;
		width: 4px;
		position: absolute;
		top: 10%;
		left: 48px;
		transition-delay: 0s;
	}
	&:nth-child(2) {
		width: 0%;
		height: 4px;
		position: absolute;
		left: 10%;
		top: 48px;
		transition-delay: .25s;
	}
}
#menu-toggle.open #hamburger span {
	width: 0%;
	&:nth-child(1) {
		transition-delay: 0s;
	}
	&:nth-child(2) {
		transition-delay: .125s;
	}
	&:nth-child(3) {
		transition-delay: .25s;
	}
}
#menu-toggle.open #cross span {
	&:nth-child(1) {
		height: 80%;
		transition-delay: .625s;
		background-color: coral;
	}
	&:nth-child(2) {
		width: 80%;
		transition-delay: .375s;
		background-color: coral;
	}
}
#header-phone-text {
    color: whitesmoke;
    text-shadow: black 1px 1px;
    font-size: 1.5rem;
    margin-left: 0.5em;
    height: 8px;
}
#header-menu {
    // display: none;
    width: 100%;
    height: 100%;
    background-color: #212121;
    position: fixed;
    right: 0;
    z-index: 3;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    transform: translateY(-30em);
    transition-duration: 0.75s;
}
.animation {
    transform: translateY(0em) !important;
}
.hidden {
    opacity: 0;
    z-index: -1 !important;
}
#contact-phone {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
    align-items: flex-end;
    height: 90%;
}
#project-link-container {
    @extend %flex-prop;
    width: 100%;
    flex-flow: column;
}
#src-code-container {
    @extend %flex-prop;
    width: 85%;
    padding: 0 5px 5px;
    flex-flow: column;
    @extend %border;
}
#contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55%;
    width: 100%;
    flex-wrap: wrap;
    flex-flow: column;
    position: absolute;
    bottom: 0;
}
.link-text {
    color: whitesmoke;
    text-shadow: 1px 1px black;
    font-size: 1.5rem;
}
#header-phone-copyright {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0;
    align-items: center;
    color: coral;
    position: absolute;
    bottom: 0rem;
    background-color: #1d1d1d;
    height: 3rem;
}