$default-font:  source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
$main-font: 'Work Sans', sans-serif;
$champ-font: Capriola;

%flex-prop {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    flex-wrap: wrap;
}
%border {
    border-color: coral;
    border-style: solid;
    border-width: 2px;
}
%border-abilities {
    border-width: 1px;
    border-style: solid;
    border-color: #b3b3b3;
    border-radius: 2px;
}


// Styling
* {
    box-sizing: border-box;
}
html, body {
    scroll-behavior: smooth;
    font-size: 100%; /*by default 16px*/
    font-family: $main-font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body{
    line-height: 2em;
    letter-spacing: 0.35px;
    font-weight: 400;
    margin: 0 auto;
    overflow-y: scroll;
}
img {
    height: inherit;
    @extend %flex-prop;
}
a {
    color: #d67db5;
    text-decoration: none;
}
.non-selectable {
    user-select: none;
}
::-webkit-scrollbar-thumb {
    background:#d06149;
    border-radius: 30px;
    height: 10%;
}
::-webkit-scrollbar-track {
    background: #50322be0;
}
::-webkit-scrollbar {
    width: 6px;
}
.title {
    @extend %flex-prop;
    font-size: 5rem;
    color: goldenrod;
    margin: 2em 0 0 0;
    font-family: Aleo;
    font-weight: 400;
}
.container {
    width: 100%;
    background-color: #292929;
    height: fit-content;
    display: inline-grid;
    background-image: url(https://raw.githubusercontent.com/chadcuomo/leagueuniverse/master/public/images/league-background.jpg);
    background-size: contain;
    background-repeat: repeat-y;
    background-blend-mode: lighten;
}
.champion-container {
    @extend %flex-prop;
    margin: 5em;
    height: fit-content;
    background-color: rgba(64, 63, 63, 0.69);
    @extend %border;

}
.champion-card {
    @extend %flex-prop;
    gap: normal;
    height: fit-content;
    width: 20em;
    margin: 3em;
    @extend %border;
    border-width: 1px;
}
.champion-card-name {
    @extend %flex-prop;
    width: 100%;
    flex-flow: column;
    background-color: rgb(12, 12, 12 / 90%);
    color: antiquewhite;
    z-index: 1;
    margin: -3em 0 0 0;
    padding: 10px;
	font-size: 1.1rem;
	font-family: $champ-font;
}
.champion-card {
    overflow: hidden;
    display: inline-grid;
    background-size: contain;
    width: inherit;
    height: inherit;
}
.champion-loading {
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.champion-card:hover .champion-loading, .champion-card:focus .champion-loading {
    -ms-transform: scale(1.12);
    -moz-transform: scale(1.12);
    -webkit-transform: scale(1.12);
    -o-transform: scale(1.12);
    transform: scale(1.12);
}

@import 'header';
@import 'infopanel';
@import 'gsap.css';
@import 'footer';
@import 'dropdown';

// Support for different screen sizes
@media only screen and (min-width: 500px) and (max-width: 1440px) {
    html {font-size: 0.9rem;}
    .champion-card {transform: scale(0.8); margin: 0;}
    #champion-detail-abilities-qwer-container {display: flex; justify-content: space-evenly;}
    .abilities-container {margin: 0.5em 0.5em 1em 0.5em}
    #champion-detail-abilities-container {padding: 2em 0;}
    #champion-detail-abilities-video-container {width: 70%; margin: 1em 0; justify-content: center; padding: 0;}
    .champion-detail-abilities-videos {width: 70%; min-height: 17em;}
    #champImg {transform: scale(0.9);}
    #champion-detail-description-container {margin: 1em 20% 5em;}
}
@media only screen and (min-width: 200px) and (max-width: 499px) {
    html {font-size: 0.6rem; width: fit-content;}
    body {line-height: 1.5em;}
    .title {font-size: 4rem; margin: 2em 0 1em;}
    .champion-container {margin: 1em; padding: 1em;}
    .champion-card {margin: 1em; width: 40%;}
    .champion-card-name {margin: -4em 0 0 0; font-size: 0.9rem;}
    .champion-loading {height: inherit; width: inherit;}
    img[alt="Loading Art"] {width: 250%; height: 40%;}
    #header-container {width: 98%;}
    #header-icon {left: 0%; width: auto; transform: scale(0.9);}
    #header-email {transform: scale(0.8);}
    #header-github {transform: scale(0.8);}
    #header-dropdown {padding: 1px; transform: scale(0.8);}
    .dropbtn {padding: 0.5em 0.25em 0.5em 0.25em; transform: scale(0.8);}
    #champion-detail-image {height: 70%;}
    #champImg {transform: scale(0.5);}
    #champion-detail-name {height: 5%; font-size: 4rem;}
    #champion-detail-title {font-size: 1.5rem;}
    #champion-detail-description-container {margin: 1em 8% 5em;}
    #champion-detail-description, #champion-detail-description-full {font-size: 0.85rem;}
    #champion-detail-abilities-qwer-container {display: flex; justify-content: space-evenly; width: fit-content; margin: 1em;}
    .abilities-container {margin: 0.5em 0.5em 0 0;}
    .champion-detail-ability {padding: 0.5em 1.1em; transform: scale(0.4);}
    #champion-detail-abilities-description {width: 80%; margin: 1em;}
    #champion-detail-abilities-video-container {width: 100%; margin: 0; padding: 0;}
    .abilities-name {font-size: 0.9rem;}
}
// MOBILE LANDSCAPE MODE
@media screen and (orientation:landscape) and (min-device-width: 200px) and (max-device-width: 900px) {
    html {font-size: 0.8rem;}
    body {line-height: 1.5em;}
    #header-dropdown {padding: 5px;}
    .dropbtn {padding: 0.5em; transform: scale(1);}
    .title {font-size: 4rem; margin: 2em 0 1em;}
    .champion-container {margin: 1em; padding: 1em;}
    .champion-card {margin: 1em; width: 30%;}
    .champion-loading {height: inherit; width: inherit;}
    img[alt="Loading Art"] {width: 333%; height: 40%;}
    #champion-detail-image {height: 70%;}
    #champImg {transform: scale(1.3);}
    #champion-detail-name {height: 10%; font-size: 3rem;}
    #champion-detail-title {font-size: 1rem;}
    #champion-detail-description-container {margin: 1em 10% 5em;}
    #champion-detail-description, #champion-detail-description-full {font-size: 0.85rem;}
    #champion-detail-abilities-qwer-container {display: flex; justify-content: space-evenly; width: fit-content; margin: 1em;}
    .abilities-container {margin: 1em 0.5em;}
    .champion-detail-ability {padding: 0.5em 2em; transform: scale(0.8);}
    .abilities-name {font-size: 0.9rem;}
    #champion-detail-abilities-description {width: 80%; margin: 1em;}
    #champion-detail-abilities-video-container {width: 80%; margin: 0; padding: 0;}
    .champion-detail-abilities-videos {width: 70%;min-height: 10em;}
    ::-webkit-scrollbar {width: 4px;}
}


/************************ Browser support **********************/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

}
@-moz-document url-prefix() {

}