$default-font:  source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
$main-font: 'Work Sans', sans-serif;
$champ-font: Capriola;

%flex-prop {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    flex-wrap: wrap;
}
%border {
    border-color: coral;
    border-style: solid;
    border-width: 2px;
}
%border-abilities {
    border-width: 1px;
    border-style: solid;
    border-color: #b3b3b3;
    border-radius: 2px;
}

@import 'header';
@import 'infopanel';
@import 'gsap';


// Styling
* {
    box-sizing: border-box;
}
html, body {
    scroll-behavior: smooth;
    font-size: 100%; /*by default 16px*/
    font-family: $main-font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body{
    line-height: 2em;
    letter-spacing: 0.35px;
    font-weight: 400;
    margin: 0 auto;
    overflow-y: scroll;
}
img {
    height: inherit;
    @extend %flex-prop;
}
a {
    color: #b82669;
    text-decoration: none;
    position: absolute;
}
.non-selectable {
    user-select: none;
}
::-webkit-scrollbar-thumb {
    background:#d06149;
    border-radius: 30px;
    height: 10%;
}
::-webkit-scrollbar-track {
    background: #946f64;
}
::-webkit-scrollbar {
    width: 8px;
}
.title {
    @extend %flex-prop;
    font-size: 5rem;
    color: goldenrod;
    margin: 2em 0 0 0;
    font-family: Aleo;
    font-weight: 400;
}
.container {
    width: 100%;
    background-color: #292929;
    height: fit-content;
    display: inline-grid;
    background-image: url(https://raw.githubusercontent.com/chadcuomo/leagueuniverse/master/public/images/league-background.jpg);
    background-size: contain;
    background-repeat: repeat-y;
    background-blend-mode: lighten;
}
.champion-container {
    @extend %flex-prop;
    margin: 5em;
    height: fit-content;
    background-color: rgba(64, 63, 63, 0.69);
    @extend %border;

}
.champion-card {
    @extend %flex-prop;
    gap: normal;
    height: fit-content;
    width: 20em;
    margin: 3em;
    @extend %border;
    border-width: 1px;
}
.champion-card-name {
    @extend %flex-prop;
    width: 100%;
    flex-flow: column;
    background-color: rgb(12, 12, 12 / 90%);
    color: antiquewhite;
    z-index: 1;
    margin: -3em 0 0 0;
    padding: 10px;
	font-size: 1.1rem;
	font-family: $champ-font;
}
.champion-card {
    overflow: hidden;
    display: inline-grid;
    background-size: contain;
    width: inherit;
    height: inherit;
}
.champion-loading {
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.champion-card:hover .champion-loading, .champion-card:focus .champion-loading {
    -ms-transform: scale(1.12);
    -moz-transform: scale(1.12);
    -webkit-transform: scale(1.12);
    -o-transform: scale(1.12);
    transform: scale(1.12);
}