$default-font: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
$main-font: 'Work Sans', sans-serif;
$champ-font: Capriola;

%flex-prop {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    flex-wrap: wrap;
}
%border {
    border-color: coral;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
}
%border-abilities {
    border-width: 1px;
    border-style: solid;
    border-color: #b3b3b3;
    border-radius: 2px;
}

@import '../components/layout/WelcomePage/Welcome.scss';
@import 'ScrollBar';

// Styling
* {
    box-sizing: border-box;
}
html, body {
    background-color: #1d1d1d;
    scroll-behavior: smooth;
    font-size: 100%; /*by default 16px*/
    font-family: $main-font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body{
    line-height: 2em;
    letter-spacing: 0.35px;
    font-weight: 400;
    margin: 0 auto;
    overflow-y: scroll;
}
img {
    height: inherit;
    @extend %flex-prop;
}
a {
    color: #d67db5;
    text-decoration: none;
}
.non-selectable {
    user-select: none;
}
.title {
    @extend %flex-prop;
    font-size: 5rem;
    color: darkorange;
    margin: 1em 0;
    font-family: 'Gabriela';
}
.container {
    width: 100%;
    background-color: #292929;
    height: fit-content;
    display: inline-grid;
    background-image: url(https://raw.githubusercontent.com/chadcuomo/leagueuniverse/master/public/images/league-background.jpg);
    background-size: contain;
    background-repeat: repeat-y;
    background-blend-mode: lighten;
    min-height: 110vh; // Fix background image not fully covering the page when there are no results from search.
    display: none;
}
.champion-container {
    @extend %flex-prop;
    margin: 2em 5em 5em;
    height: fit-content;
    background-color: rgba(64, 63, 63, 0.69);
    @extend %border;
    padding: 1em;
}
.champion-card {
    @extend %flex-prop;
    gap: normal;
    height: 31em;
    width: 19em;
    margin: 2em 1em 0;
    @extend %border;
    border-width: 1px;
}
.champion-card-name {
    @extend %flex-prop;
    width: 100%;
    flex-flow: column;
    background-color: rgb(12, 12, 12 / 90%);
    color: antiquewhite;
    z-index: 1;
    margin: -10.5em 0 0 0;
    padding: 10px;
	font-size: 1.1rem;
	font-family: $champ-font;
}
.champion-card {
    overflow: hidden;
    display: inline-grid;
    background-size: contain;
    // width: inherit;
    // height: inherit;
}
.champion-loading {
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.champion-card:hover .champion-loading, .champion-card:focus .champion-loading {
    -ms-transform: scale(1.12);
    -moz-transform: scale(1.12);
    -webkit-transform: scale(1.12);
    -o-transform: scale(1.12);
    transform: scale(1.12);
}
#updated {
    @extend %flex-prop;
    width: 100%;
    height: 2em;
    color: pink;
    font-size: 1rem;
    // font-style: oblique;
    font-weight: 300;
    margin: 4.5em 0 0;
}
#no-results-container {
    @extend %flex-prop;
    display: none;
    width: 100%;
    height: 29em;
    margin: 3em;
}
#no-results {
    @extend %flex-prop;
    width: 50em;
    height: inherit;
    background-color: #403f3fb0;
}
#result-text {
    color: #d67db5;
    font-size: 1.5rem;
    @extend %flex-prop;
}

@import '../components/layout/Header/Header.scss';
@import '../components/layout/Header/Dropdown';
@import '../components/champions/InfoPanel.scss';
@import 'Gsap';
@import '../components/layout/Footer/Footer.scss';
@import '../components/search/Search.scss';
@import '../components/layout/BackToTop/BackToTop.scss';

// Support for different screen sizes
@media only screen and (min-width: 500px) and (max-width: 1650px) {
    html {font-size: 0.9rem;}
    // .champion-card {transform: scale(0.8); margin: 0;}
    #champion-detail-abilities-qwer-container {display: flex; justify-content: space-evenly;}
    #champion-detail-abilities-description {width: fit-content; max-width: 45%;}
    .abilities-container {margin: 0.5em; width: 200px;}
    .abilities-name {font-size: 1rem;}
    .champion-detail-ability {transform: scale(0.8); padding: 0.5em 1.5em 0.5em; max-height: 90px;}
    #champion-detail-abilities-container {padding: 2em 0;}
    #champion-detail-abilities-video-container {width: 22em; justify-content: center; padding: 0; margin: 1em 0 0;}
    .champion-detail-abilities-videos {min-height: 15em;}
    #champion-detail-name {margin: 0 0 0.3em; height: 5%;}
    #champImg {transform: scale(0.75);}
    #champBgImg {mask-image: linear-gradient(#000 65%, #0000 110%); -webkit-mask-image: linear-gradient(#000 65%, #0000 110%);}
    #champion-detail-description-container {margin: 1em 20% 5em;}
    #champion-detail-abilities-extra-detail-container {padding: 0 0.5em; justify-content: space-evenly;}
    .champion-container {margin: 2em 3em 5em;}
    .champion-card {width: 15em; height: 25em; margin: 2em 0.5em 0;}
    .champion-loading img {position: relative; width: 100%; object-fit: cover;}
    .champion-card-name {margin: -7em 0 0 0};
    

    #b2t {padding: 15px;}
    #b2t-img {transform: scale(0.9);}

    #champSkinsImg {transform: scale(0.7);}
}
@media only screen and (min-width: 200px) and (max-width: 499px) {
    html {font-size: 0.6rem; width: fit-content;}
    body {line-height: 1.5em;}
    .title {font-size: 3rem; margin: 0.5em 0 1em;}
    .champion-container {margin: 1em; padding: 1em;}
    .close-button {transform: scale(0.8);}
    .champion-card {width: 10em; height: 17em; margin: 0.5em;}
    .champion-loading img {position: relative; width: 100%; object-fit: cover;}
    .champion-card-name {margin: -5em 0 0 0; font-size: 0.5rem; padding: 5px;}
    .champion-loading {height: inherit; width: inherit;}
    // img[alt="Loading Art"] {width: 250%; height: 40%;}
    #header-container {width: 98%;}
    #header-icon {left: 0%; width: auto; transform: scale(0.9);}
    #header-email {transform: scale(0.8);}
    #header-github {transform: scale(0.8);}
    #header-dropdown {padding: 1px; transform: scale(0.8);}
    .dropbtn {padding: 0.5em 0.25em 0.5em 0.25em; transform: scale(0.8);}
    #champion-detail-image {height: 70%;}
    #champImg, #champSkinsImg {transform: scale(0.9); width: auto; height: auto; max-height: fit-content;}
    #champion-detail-name {height: 5%; font-size: 4rem;}
    #champion-detail-title {font-size: 1.5rem;}
    #champion-detail-description-container {margin: 1em 8% 5em;}
    #champion-detail-description, #champion-detail-description-full, #showBtn {font-size: 0.85rem;}
    #champion-detail-abilities-qwer-container {display: flex; justify-content: space-evenly; width: fit-content; margin: 1em;}
    .abilities-container {margin: 0.5em 0.5em 0 0;}
    .champion-detail-ability {padding: 0.5em 1.1em; transform: scale(0.4);}
    #champion-detail-abilities-description {width: auto; margin: 1em; font-size: 0.8rem; padding: 1em;}
    #champion-detail-abilities-video-container {width: 100%; margin: 0; padding: 0;}
    .abilities-name {font-size: 0.9rem;}
    ::-webkit-scrollbar {width: 4px;}

    #champion-detail-abilities-qwer-container {margin: 0em; width: auto;}
    .abilities-container {width: 50px; height: 50px;}
    .abilities-name {display: none;}
    .champion-detail-ability {padding: 0; transform: scale(0.7);}
    #champion-detail-ability-name-phone-container {visibility: visible; margin: 1em 0 0 0;};
    #champion-detail-ability-name-phone {display: flex;}
    #champion-detail-abilities-extra-detail-container {margin: 1.5em 0;}

    // Search
    .container {min-width: 100vw;}
    #no-results-container {height: 12em;}
    #no-results {width: 100%;}
    #result-text {font-size: 1.2rem;}

    #b2t {bottom: 2em; right: 1.5em; padding: 8px;}
    #b2t-img {transform: scale(0.8);}

    // Welcome Page
    #extra-line-phone {display: block;}
    #enter-button {margin: 1em 0 0;}
    #welcome-description {padding: 1em;}
    
    // Skins Page
    #champSkinsImg {transform: scale(0.28);}
    #button-container {width: 20%; align-items: flex-end; height: 70%;}
    .prev,.next {padding: 10px;}
    #champion-detail-skins-name {font-size: 1.8rem; padding: 1em;}
}
// MOBILE LANDSCAPE MODE
@media screen and (orientation:landscape) and (min-device-width: 200px) and (max-device-width: 900px) {
    html {font-size: 0.8rem;}
    body {line-height: 1.5em;}
    #header-dropdown {padding: 5px;}
    .dropbtn {padding: 0.5em; transform: scale(1);}
    .title {font-size: 3rem; margin: 0.5em 0 1em;}
    .champion-container {margin: 1em; padding: 1em;}
    .close-button {transform: scale(0.8);}
    .champion-card {margin: 1em; width: 30%;}
    .champion-card {width: 10em; height: 15em; margin: 0.5em;}
    .champion-card-name {padding: 2px; margin: -4em 0 0 0; font-size: 0.5rem;}
    .champion-loading {height: inherit; width: inherit;}
    .champion-loading img {object-fit: contain; height: auto;}
    // img[alt="Loading Art"] {width: 333%; height: 40%;}
    #champion-detail-image {height: 75%;}
    #champImg {transform: scale(2.3);}
    #champion-detail-name {height: 10%; font-size: 3rem;}
    #champion-detail-title {font-size: 1rem;}
    #champion-detail-description-container {margin: 1em 10% 5em;}
    #champion-detail-description, #champion-detail-description-full, #showBtn {font-size: 0.85rem;}
    #champion-detail-abilities-qwer-container {display: flex; justify-content: space-evenly; width: fit-content; margin: 1em;}
    .abilities-container {margin: 1em 0.5em;}
    .champion-detail-ability {padding: 0.5em 2em; transform: scale(0.8);}
    .abilities-name {font-size: 0.9rem;}
    #champion-detail-abilities-description {width: auto; margin: 1em; font-size: 0.8rem; padding: 1em;}
    #champion-detail-abilities-video-container {width: 80%; margin: 0; padding: 0;}
    .champion-detail-abilities-videos {width: 70%;min-height: 10em;}
    ::-webkit-scrollbar {width: 4px;}

    #champion-detail-abilities-qwer-container {margin: 0 1em; width: auto; justify-content: center;}
    .abilities-container {width: 60px; height: 60px;}
    .abilities-name {display: none;}
    .champion-detail-ability {padding: 0; transform: scale(0.75);}
    #champion-detail-ability-name-phone {font-size: 1rem; margin: 1em 0 0 0; width: fit-content; padding: 0 1em; display: flex;}
    #champion-detail-ability-name-phone-container {visibility: visible};
    #champion-detail-abilities-extra-detail-container {margin: 1em 0;}

    // Search
    .container {min-width: 100vw;}
    #no-results-container {height: 10em;}
    #no-results {width: 60%;}
    #result-text {font-size: 1.2rem;}

    #b2t {bottom: 2em; right: 1.5em; padding: 8px;}
    #b2t-img {transform: scale(0.8);}

    // Welcome Page
    #extra-line-phone {display: block;}
    #welcome-description {font-size: 1rem;}
    #enter-button {margin: 1em 0 0;}

    // Skins Page
    #champSkinsImg {transform: scale(0.4);}
    .prev,.next {padding: 12px;}
    #champion-detail-skins-name {font-size: 1.5rem; padding: 0.7em; margin-bottom: 1em;}
    #champion-detail-skins-name-container {height: 112%;}
}

/************************ Browser support **********************/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

}
@-moz-document url-prefix() {
    html {scrollbar-color: #d06149 #50322be0; scrollbar-width: thin;}
    #champion-info-panel {height: 100vh; scrollbar-width: thin;}
    .close-button {font-style: normal;}
    .dropbtn {font-style: normal;}

}